.example-spacer {
  flex: 1 1 auto;
   position: -webkit-sticky;
  position: sticky;
  
}

img{
  width: 80%;
  height: -100%;
  padding-left: 350px;
}
.header{
    background-color: black;
}

.nav_{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


 