 <mat-card>
  <mat-card-content>
             <img src="https://images.unsplash.com/photo-1543007630-9710e4a00a20?q=80&w=1635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >

  </mat-card-content>
  <mat-divider></mat-divider>
  <br><br>
 <div class="title_res">
  
   <span class="span">Hitech City, Hyderabad</span><br>
    <span class="span"  mat-raised-button
        matTooltip="Berverages European Italian Pizza sushi Modern Indian"
        aria-label="Button that displays a tooltip when focused or hovered over">2000 two approx | Berverages European... </span>
    <br>
        <span class="grn">Open from 12:00pm - 11:00pm</span>
 </div>
<br><br>
  <mat-divider></mat-divider>
  <div class="flex-container">
      <ul class="over">About</ul>
      <ul class="bnt2" routerLink="/menu">Menu</ul>
      <ul class="btn3" routerLink="/photos">Photos</ul>
      <ul class="btn4">Reviews</ul>
      <ul class="btn5">PayMeny</ul>
  </div>

  <mat-divider></mat-divider>
  <br>
      <div class="about">
          <!-- <p>Red Rhino Craft Brewery and Inspired Kitchen Menus</p> -->
            <img class="menu" src="https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/restaurant%2F683558%2Fmenu%2Fmenu61652772822605.jpg"
                 style="width:170px;height:200px;" alt="">

            <img class="menu" src="https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/restaurant%2F683558%2Fmenu%2Fmenu31652772821074.jpg" style="width:170px;height:200px;" alt="">

          <img class="menu" src="https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/restaurant%2F683558%2Fmenu%2Fmenu91652772824019.jpg" style="width:180px; height:200px;" alt="">
    
     <img class="menu" src="https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/restaurant%2F683558%2Fmenu%2Fmenu201652772847158.jpg" style="width:180px; height:200px;" alt="">
    
                </div>


     <br>
    <!-- <app-hotels-list [dataArray]="parentArray"></app-hotels-list> -->

  <div class="map">
   <google-map height="300px"
            width="850px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>
 </div>

<mat-divider></mat-divider>

<br><br>

<div class="features">
  <p class="feat_title">Restaurant Features</p>

 <app-child [dataArray]="parentArray"></app-child>
   
</div>
</mat-card>

  



<!-- <div class="elfsight-app-ee1bf5c0-24d7-4e49-8f42-4514e263c290" data-elfsight-app-lazy></div> -->

 

