<form #ngform="ngForm" (ngSubmit)="OnSubmit()">

<div *ngIf="successMesssage" class="succesMsg">
   <h4 class="sucess">SuccessFully Login</h4>
</div>

<div *ngIf="emailMesssage" class="succesMsg">
   <h4 class="emailMessage">Invalid email format. <mat-icon (click)="emailClose()">cancel</mat-icon></h4>
</div>

<div *ngIf="passwordMessage" class="succesMsg">
   <h4  class="passMessage">Password must be at least 6 characters long <mat-icon (click)="closeMessage()">cancel</mat-icon></h4>
</div>

<!-- <div *ngIf="passwordMessage" class="succesMsg">
   <h4  class="passMessage">Password must be at least 6 characters long </h4>
</div> -->

 <!-- <img class="img" [src]="[image]" alt=""> --> 
<p class="login_">
   <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Placeholder" id="email" name="email" [(ngModel)]="loginUse.email">
    <mat-icon matSuffix>email</mat-icon>     
  </mat-form-field>
 <br>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Placeholder" id="password" type="password" name="password" [(ngModel)]="loginUse.password">
    <mat-icon matSuffix>password</mat-icon>      
  </mat-form-field>
     <span class="regis" routerLink="/register" >Register</span>   
     <br>
<br>
   <button type="submit" mat-raised-button color="primary">Submit</button>
</p>   

</form>

 