<img *ngIf="image1"
    src="https://d4t7t8y8xqo0t.cloudfront.net/resized/1920X400/home%2Fslider%2Fdesktop%2Ffast-food-web-banner-23.png"
    style="width:100%">

<img *ngIf="images"
    src="https://d4t7t8y8xqo0t.cloudfront.net/resized/1920X400/home%2Fslider%2Fdesktop%2FCiti-bank-Web-banner-23.png"
    style="width:100%">

<img *ngIf="image2"
    src="https://d4t7t8y8xqo0t.cloudfront.net/resized/1920X400/home%2Fslider%2Fdesktop%2Ffast-food-web-banner-23.png"
    style="width:100%">

<button class="arrow_r" (click)="showImage()">></button>
<!-- <br> -->
<button class="arrow_l" (click)="showImage1()"><</button>
<!-- <button (click)="showImage2()">Show Image 1</button> -->



<br><br>
<br><br>


<div class="card-container">
    <div class="card">
      <img class="img_c" src="https://d4t7t8y8xqo0t.cloudfront.net/eazymedia/home%2Fsection-items%2F4%2FBreakfast-varanasi.png" alt="Delicious Food">
      <div class="card-text">
        <h2>Food Glorious Food</h2>
        <p>Explore a variety of cuisines from around the world.</p>
      </div>
    </div>


     <div class="card">
      <img class="img_c" src="https://d4t7t8y8xqo0t.cloudfront.net/eazymedia/home%2Fsection-items%2F4%2FBreakfast-varanasi.png" alt="Delicious Food">
      <div class="card-text">
        <h2>Food Glorious Food</h2>
        <p>Explore a variety of cuisines from around the world.</p>
      </div>
    </div>

    <div class="card">
      <img class="img_c"  src="https://d4t7t8y8xqo0t.cloudfront.net/eazymedia/home%2Fsection-items%2F4%2FBreakfast-varanasi.png" alt="Person Using Laptop">
      <div class="card-text">
        <h2>Work or Play, We Got You Covered</h2>
        <p>Find the perfect device for your needs.</p>
      </div>
    </div>
  </div>
  


<br>



 <div class="container">
    <header>
      <h1>Hi Foodie, What's your pick?</h1>
    </header>
    <nav>
      <button data-section="book-a-table"><img src="https://d4t7t8y8xqo0t.cloudfront.net/eazymedia/home%2Fsection-items%2F4%2Flunch-2024.png" alt="Book a Table">Book a Table</button>
      <button data-section="pay-eazy"><img src="https://d4t7t8y8xqo0t.cloudfront.net/eazymedia/home%2Fmain_meal_bucket%2Fhome_main_meal_bucket_payeazy.png" alt="Pay Eazy">Pay Eazy</button>
      <button data-section="prime"><img src="https://d4t7t8y8xqo0t.cloudfront.net/eazymedia/home%2Fmain_meal_bucket%2FprimeImg.png" alt="Prime">Prime</button>
      <button data-section="fast-food"><img src="images/fast-food.png" alt="Fast Food">Fast Food</button>
      <button data-section="near-me"><img src="https://d4t7t8y8xqo0t.cloudfront.net/eazymedia/home%2Fmain_meal_bucket%2FfastFood.png" alt="Near Me">Near Me</button>
      <button data-section="breakfast"><img src="https://d4t7t8y8xqo0t.cloudfront.net/eazymedia/home%2Fsection-items%2F4%2FBreakfast-varanasi.png" alt="Breakfast">Breakfast</button>
    </nav>

  </div>




  