.footer{
    padding: 1rem;
    background-color: rgb(1, 0, 87);    
}
.title{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: 500;
}