 .job-dec{
    text-align: center;
    margin-top: 100px;

}

.example-card {
  max-width: 800px;
  margin-bottom: 8px;
  text-align: center;
  margin-left: 300px; 
  flex-wrap: wrap;
   /* border-color: blue; */
}

.border{
    border-color: aqua;
}

.img{
    border-radius: 20px;
}

 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon_wise{
    display: flex;
    gap: 20px;
}

  
.material-symbols-outlined{
    display: flex;
}

.save{
    margin-left: 600px;
}

#icon_wise_s{
     display: flex;
    gap: 10px;
}

 

#icon_wise_s{
     display: flex;
    gap: 10px;    
     
}

.p_job_high{
   font-size: 10px;
}
 

p {  /* Aligns text within an element with ID "job-details" to the left */
  text-align: left;
  margin-top: 10px;
}

.job_match{
    margin-right: 650px;
    font-weight: 500;
    font-size: 15px;
}

#icon_wise_c{
  background-color: aliceblue; 
}























 